import java.util.Random;

public class Craps {
	public String toString(){
		return "Message";
	}
	
	public int diceHappen(){
		Random random = new Random();
		int diceOne = 1 + random.nextInt(6);
		int diceTwo = 1 + random.nextInt(6);
		
		int result = diceOne + diceTwo;
		System.out.println("The result's summary is " + result + ".");
		
		return result;
	}
	
	public boolean judgement(int result){
		boolean judge = false;
		switch(result){
		case 7:
		case 11:
			judge = true;
			break;
		case 2:
		case 3:
		case 12:
			judge = false;
			break;
		case 4:
		case 5:
		case 6:
		case 8:
		case 9:
		case 10:
			judge = nextJudge(result);
			break;
		default:
			break;	
		}
		return judge;
	}
	
	public boolean nextJudge(int result){
		boolean nextJudgement = false;
		int nextResult = diceHappen();
		while((nextResult != result) &&(nextResult!= 7) ){
			nextResult = diceHappen();
		}
		
		if(nextResult == result)
			nextJudgement = true;
		return nextJudgement;
	}
	
		Craps(){}
		
	public static void main(String[] args) {
		Craps craps = new Craps();
		boolean result = craps.judgement(craps.diceHappen());
		if(result)
			System.out.println("The gamer win!");
		else
			System.out.println("The maker win!");
		int count = 0;
		for (int i = 0; i < 100; i++) {
			boolean test = craps.judgement(craps.diceHappen());
			if(test)
				count ++;
		}
		double prability = count / 100.0;
		System.out.println("The prability of gamer is " + prability + ".");
	}
	
}
